<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections</title>
    <link rel="icon" href="../assets/images/logo2.png">
    <link rel="stylesheet" href="../assets/css/savedConnections.css">
</head>

<body>
    <%- include('partials/menu.ejs') %>
        <div class="container">
            <div class="content">
                <div class="content-text">
                    <h1>My Connections</h1>
                    <% try { %>
                        <% if (userProfile.length> 0) { %>
                            <div class="connection_table_div">
                                <table class="connection_table">
                                    <thead>
                                        <tr>
                                            <th>Connection</th>
                                            <th>Category</th>
                                            <th>Attending</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i=0; i < userProfile.length; i++ ) { %>
                                            <tr>
                                                <td>
                                                    <%= userProfile[i][0].connection.title %>

                                                </td>
                                                <td>
                                                    <%= userProfile[i].connection.category %>
                                                </td>
                                                <td>
                                                    <%= userProfile[i].rsvp %>
                                                </td>
                                                <form id="button_form" method="POST">
                                                    <td class="button_td">
                                                        <button
                                                            formaction="update?id=<%= userProfile[i].connection._id %>"
                                                            class="update_button" name="updateID"
                                                            value="<%= userProfile[i].connection._id %>">Update</button>
                                                        <button formaction="deleted" class="delete_button"
                                                            name="deleteID"
                                                            value="<%= userProfile[i].connection._id %>">Delete</button>
                                                </form>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                                <img src="../assets/images/internet_filter_bubble.png" alt="">
                            </div>
                            <% } else { %>
                                <h2>You have no connections in your profile.</h2>
                                <div id="pien_images">
                                    <img src="/assets/images/pose_pien_uruuru_man.png" alt="pose_pien_uruuru_man">
                                    <img src="/assets/images/pose_pien_uruuru_woman.png" alt="pose_pien_uruuru_woman">
                                </div>
                                <% } %>
                                    <% } catch(err) {%>
                                        <h2>You have no connections in your profile.</h2>
                                        <div id="pien_images">
                                            <img src="/assets/images/pose_pien_uruuru_man.png"
                                                alt="pose_pien_uruuru_man">
                                            <img src="/assets/images/pose_pien_uruuru_woman.png"
                                                alt="pose_pien_uruuru_woman">
                                        </div>
                                        <% } %>
                </div>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
</body>

</html>